*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(39, 39, 138);

    
}
.main1{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    min-height: 100vh;
    
}
.main2 div{
   padding:20px 0px ;
   height: 6vw;
   background-color: rgb(26, 26, 54);
   text-align: center;
   margin: 12px 0px;

}
.main2 div input{
    height: 5vw;
    font-size: 4vw;
    font-weight: 700;
    margin: 0px 10px;
    border-radius: 6px;
}
.main2 div button{
    font-size: 4vw;
    height: 5vw;
    font-weight: 700;
    margin: 0vw 1vw;
    border-radius: 7px;
    background-color: rgb(90, 8, 8);
    color: #fff;
  
}
 button{
    margin: 0px 20px;
    padding: 0vw 1vw;
}
.main2 span{
    color: yellow;
    font-size: 4vw;
}
.main2 h1{
    color: #fff;
    font-size: 4vw;
}
p{
    color: #fff;
    font-size: 5vw;
}

